body {
  font-family: "M PLUS Rounded 1c", sans-serif, "Meiryo";
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: .8px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

/*--------------------------------
 タイトル
---------------------------------*/
.title {
  font-size: 34px;
  line-height: 1;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: .1em;
  color: #f5b5d5;
}

.lead {
  margin-bottom: 30px;
}

/*--------------------------------
 header
---------------------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
  text-align: center;
  background-color: #b5ccdb;
}

.header-inner {
  padding: 0 40px;
}

/* .header-inner::before {
  content: '\e65f';
  font-family: "Material Icons";
  font-size: 320px;
  color: #efefef;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  left: 100px;
  top: 30px;
}

.header-inner::after{
  content: '\e65f';
  font-family: "Material Icons";
  font-size: 400px;
  color: #efefef;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  right: 20px;
  bottom: 30px;
} */


.header-title {
  font-family: 'Monoton';
  font-size: 72px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #f092c1;
}
.header-subtitle {
  font-family: "Montserrat Alternates";
  font-size: 30px;
  line-height: 1;
  letter-spacing: .08em;
}


/*--------------------------------
グローバルナビ
---------------------------------*/
.gnav {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
}

.gnav-inner {
  padding: 15px 40px;
}

.gnav-list {
  display: flex;
  justify-content: center;
}

.gnav-item {
  margin: 0 20px;
}

.gnav-item a {
  position: relative;
  font-family: "Montserrat Alternates";
  font-size: 18px;
  line-height: 1;
  display: inline-block;
  padding: 5px 0;
  transition: .3s;
  letter-spacing: .05em;
  color: #333;
}

.gnav-item a:hover {
  opacity: .8;
}




/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-color: #e6e6e6;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #797979;
}



/*--------------------------------
 タブレット・スマホ
---------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
    line-height: 1.7;
  }

  /* 見出し */
  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  /* レイアウト */
  .section {
    padding: 60px 0;
  }

  .inner {
    padding: 0 20px;
  }

  /*  header */
  .header {
    height: 60vh;
  }

  .header-inner {
    padding: 0 20px;
  }

  .header-title {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .header-subtitle {
    font-size: 18px;
  }

  /*  下層ページのheader */
  .sub-header-inner {
    padding: 0 40px;
  }

  .sub-header-title {
    font-family: "Dancing Script", cursive;
    font-size: 24px;
  }
  .sub-header-subtitle {
    font-size: 14px;
  }

  /* グローバルナビ */
  .gnav .inner {
    padding: 15px;
  }

  .gnav-logo {
    font-size: 17px;
  }

  .gnav-item:not(:last-child) {
    margin-right: 10px;
  }

  .gnav-item a {
    font-size: 14px;
  }

  .gnav-item a:after {
    display: none;
  }
  /* フッター */
  .footer {
    padding: 20px;
  }
}